body,html {
    height: 100%;
}
body,html,div,img{
    margin:0;
    padding: 0;
    vertical-align: baseline;
}
}

body{
    display:flex;
    flex-direction:column;
    
}

header{
    height: 75px;
    width: 100%;
    display:flex;
    color:rgb(80, 79, 79);
    font-family: Roboto,sans-serif;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 1000px;
}
.Sobre_O_Mag_Club_topo
{
    color: rgb(80, 79, 79);
}

#superior_esq{
    width: 60%;
    min-width: 720px;
    height:100%;
    background-image:linear-gradient(90deg,rgb(243, 250, 250),rgb(243, 250, 250));
    border: rgb(71, 131, 131);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}
#superior_dir{
    width: 40%;
    height:100%;
    background-image: linear-gradient(90deg,rgb(243, 250, 250),rgb(243, 250, 250));
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 3%;
    font-size: 15px;

}
#Ola_Pedro{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}
#superior_esq_esq{
    width: 20%;
    min-width: 180px;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 6%;


}
#superior_esq_dir{
    width: 50%;
    min-width: 420px;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
   

   

}
#logo_div{

    display: block;
    max-width:80%;
    
    
}
#logo{
    height: 50px;
}
#line1_div{
    margin-left: 15px;
    margin-right: 15px;
}
#logo_texto{
    width: 75%;
    height:70%;
    display:flex;
    justify-content: center;
    display:table-caption;
    align-items: center;
    font-size: 10px;
    

  
}

a1{
    width: 100%;
    height:100%;
    padding-top: 15%;
    padding-bottom: 15%;
    display:flex;
    justify-content: center;
    align-items: center;
    display:table-caption;
    
}
#usuario_logo{
    height: 28px;

}
#seta_usuario{
    height: 7px;
    padding-left: 5px;
    cursor: pointer;

}
main{
    width: 100%;
    height: 80%;
    min-height: 550px;
    min-width: 1000px;
    margin: 0px auto;

    display:flex;
    flex-direction: column;
    align-items: center;
    /*background-color: blue;*/
    justify-content: center;
    font-family: Mulish,sans-serif;
    
    
}
#main_margin{
    width:85%;
    height: 95%;
    display:flex;
    flex-direction: column;
    /*background-color: rgb(0, 0, 0);*/

}
#main_up {
    width: 100%;
    height: 40%;
   /* background-color: rgb(116, 92, 92);*/
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;


}
#main_down{
    padding-top: 10px;
    width: 100%;
    height: 60%;
    /*background-color: rgb(133, 168, 36);*/
}
#main_up_up{
    width: 100%;
    height: 25%;
    /*background-color: rgb(12, 15, 20);*/
    display: flex;
    justify-content: space-between;

}
#main_up_up_desconto{

    color: #53BABE;
    font-size: 30px;
    font-family: Mulish, sans-serif;
}

/*main up up form */
form {
    border-radius: 0.1em;
    padding: 0.3em;
    
}


form input, form button {
    font-size: 1.2em;
    border-radius: 2.0em;
    border: none;
    padding: 0.2em;
    background: rgb(229, 245, 245)
  
 
    
}

form button {
    cursor: pointer;
    background: none;
    color: gray;
    
}

#main_up_down {

    width: 100%;
    height: 60%;
    /*background-color: rgb(71, 131, 131);*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Categoria{
    height: 90%;
    width: 10%;
    min-width: 110px;
    /*background-color: seagreen;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #504F4F;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    text-align: center;

}
.categoria_up{

    height:45%;
    width: 100%;
}
.Categoria_down{
    /*background-color: rgb(117, 65, 41);*/
    height: 55%;
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#main_down_up{
    width: 100%;
    min-width: 1000px;
    height: 96%;
    /*background: sienna;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
#main_down_down{
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 11px;
}
.itens{
    width: 21%;
    min-width: 220px;
    height: 95;
    border-radius: 15px;
    background: rgba(243,248,248);
}
.itens_cima{

    width: 100%;
    height: 80%;
}
.itens_baixo{
    width: 100%;
    height:20%;
    background-color: rgb(83, 186, 190);
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
}