body,html {
    height: 100%;
}
body,html,div,img{
    margin:0;
    padding: 0;
    vertical-align: baseline;
}
}

body{
    display:flex;
    flex-direction:column;
    
}

header{
    height: 75px;
    width: 100%;
    display:flex;
    color:rgb(80, 79, 79);
    font-family: Roboto,sans-serif;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 1000px;
}
.Sobre_O_Mag_Club_topo
{
    color: rgb(80, 79, 79);
}

#superior_esq{
    width: 60%;
    min-width: 720px;
    height:100%;
    background-image:linear-gradient(90deg,rgb(243, 250, 250),rgb(243, 250, 250));
    border: rgb(71, 131, 131);
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

}
#superior_dir{
    width: 40%;
    height:100%;
    background-image: linear-gradient(90deg,rgb(243, 250, 250),rgb(243, 250, 250));
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 3%;
    font-size: 15px;

}
#Ola_Pedro{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}
#superior_esq_esq{
    width: 15%;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8%;

}
#superior_esq_dir{
    width: 45%;
    min-width: 390px;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;

   

}
#logo_div{

    display: block;
    max-width:80%;
    
    
}

#logo{
    height: 50px;
}
#line1_div{
    margin-left: 15px;
}
#logo_texto{
    width: 75%;
    height:70%;
    display:flex;
    justify-content: center;
    display:table-caption;
    align-items: center;
    font-size: 10px;
    

  
}

a1{
    width: 100%;
    height:100%;
    padding-top: 15%;
    padding-bottom: 15%;
    display:flex;
    justify-content: center;
    align-items: center;
    display:table-caption;
    
}
#usuario_logo{
    height: 35px;

}
#seta_usuario{
    height: 7px;
    padding-left: 5px;
    cursor: pointer;

}
main{
    width: 100%;
    height: 80%;
    min-height: 550px;
    min-width: 1000px;
    margin: 0px auto;

    display:flex;
    flex-direction: row;
    align-items: center;
    

    
    
}

#main_left
{
    height: 100%;
    min-height: 550px;
    width: 45%;
    padding-left: 5%;
    min-width: 300px;
    /*background-image: linear-gradient(90deg,rgb(51, 43, 56),rgb(60, 70, 70));*/
    display: flex;
    flex-direction: column;
    
    
}
#main_right
{
    height: 100%;
    min-height: 550px;
    width: 50%;
    min-width: 300px;
    /*background-image: linear-gradient(90deg,rgb(15, 104, 104),rgb(22, 59, 59));*/
    display: flex;
    flex-wrap: wrap-reverse;

}
#mulher_celular{
    height:90%;
    display: flex;
    padding-left: 15%;
}
#main_left_up
{
    height: 60%;
    width: 100%;
    min-width: 300px;
    /*background-image: linear-gradient(90deg,rgb(78, 126, 51),rgb(35, 134, 40)); */
    display: flex;
    flex-direction: column;


}
#a5{
    height: 80%;
    width: 70%;
    padding-top: 20%;
    
    min-height: 200px;
    min-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    /*background-color: black;*/
    text-align: center;
    text-align: left;
    
    /* or 77px */

    text-transform: uppercase; 
    color: #504F4F;
    text-align: justify;
}
#a8, a10{
    color:#53BABE
}
#main_left_down{

    height: 10%;
    width: 40%;
    /*background-color: rgb(33, 133, 124);*/
    display: flex;
    flex-direction: row;
    
    align-items: center;
    
    padding-top: 5%;
    

    
  
}

#acesse_botao{
    height: 30px;
    width: 120px;
    margin-right: 10px;
    background: #504F4F;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    font-family: Mulish,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    color: white;
    cursor: pointer;

}
#a_acesse_botao{
    font-family: Mulish,sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    color: white;
}

#Uma_iniciativa_Mag_seguros{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Mulish,sans-serif;
    font-style: normal;
    font-size: 11px;
    color: black;
}
#termos_cond{
    height:21%;
    display: flex;
    flex-direction: column-reverse;
}