body,html {
    height: 100%;
}
body,html,div,img{
    margin:0;
    padding: 0;
    vertical-align: baseline;
}
}

body{
    display:flex;
    flex-direction:column;
    
}

header{
    height: 75px;
    width: 100%;
    display:flex;
    color:rgb(80, 79, 79);
    font-family: Roboto,sans-serif;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.15);
    min-width: 1000px;
}
.Sobre_O_Mag_Club_topo
{
    color: rgb(80, 79, 79);
}

#superior_esq{
    width: 60%;
    min-width: 720px;
    height:100%;
    background-image:linear-gradient(90deg,rgb(243, 250, 250),rgb(243, 250, 250));
    border: rgb(71, 131, 131);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;


}
#superior_dir{
    width: 40%;
    height:100%;
    background-image: linear-gradient(90deg,rgb(243, 250, 250),rgb(243, 250, 250));
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 3%;
    font-size: 15px;

}
#Ola_Pedro{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
}
#superior_esq_esq{
    width: 15%;
    height: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-left: 8%;


}
#superior_esq_dir{
    width: 45%;
    min-width: 390px;
    height: 100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
   

   

}
#logo_div{

    display: block;
    max-width:80%;
    
    
}
#logo{
    height: 50px;
}
#line1_div{
    margin-left: 15px;
}
#logo_texto{
    width: 75%;
    height:70%;
    display:flex;
    justify-content: center;
    display:table-caption;
    align-items: center;
    font-size: 10px;
    

  
}

a1{
    width: 100%;
    height:100%;
    padding-top: 15%;
    padding-bottom: 15%;
    display:flex;
    justify-content: center;
    align-items: center;
    display:table-caption;
    
}
#usuario_logo{
    height: 35px;

}
#seta_usuario{
    height: 7px;
    padding-left: 5px;
    cursor: pointer;

}
main{
    width: 92%;
    height: 80%;
    min-height: 550px;
    min-width: 1000px;
    margin: 0px auto;

    display:flex;
    flex-direction: column;
    align-items: center;
    padding-left: 8%;
    
    
    
}

    
#main_up{
    height: 62%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: normal;

}




#a5 {


    font-size: 25px;
    line-height: 45px;
    color: #53BABE;
}
#a6{
    font-size: 15px;
    color: #504F4F;
    font-weight: bold;

}

.setinha_direita{
    height: 15px;
}
#div_a8{
    display: flex;
    flex-direction: column;


}
#main_down{
    display: flex;
    width: 100%;
    height: 38%;
    flex-direction: row;


}
#main_down_left{
    width: 43%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #53BABE;
    font-weight: 550;
    font-size: 30px;
    font-family: Mulish, sans-serif;
}
#a12{
    padding-top: 10px;
}
#main_down_right{
    width: 57%;
    height: 100%;
    display: flex;
    align-items: flex-end;

}
#mulher_sacola_compras{
    width: 100%;
}